{{- $context := . -}}
{{- $the_date := false -}}
{{- $surtitle := false -}}
{{- $same_day := false -}}
{{- $same_month := false -}}
{{- $same_year := false -}}

{{- with .Params.event }}
  {{- $start_date := .date_from | default false -}}
  {{- $end_date := .date_to | default false -}}
  {{- if and $start_date $end_date -}}
    {{- $same_day = cond (eq (time.Format "2006-01-02" $start_date) (time.Format "2006-01-02" $end_date)) true false -}}
    {{- $same_month = cond (eq (time.Format "2006-01" $start_date) (time.Format "2006-01" $end_date)) true false -}}
    {{- if $same_day -}}
      {{- $surtitle = "le" -}}
      {{- $the_date = $start_date -}}
    {{- else if $same_month -}}
    {{- end -}}
  {{- end -}}
  {{- if and (not $start_date) $end_date -}}
    {{- $surtitle = "jusqu'au" -}}
    {{- $the_date = $end_date -}}
  {{- end -}}

<div class="summary">
  <div class="content">
    {{- with $surtitle -}}
      <p class="surtitle">{{ . }}</p>
    {{- end -}}

    {{- with $the_date -}}
      <p class="date">{{ partial "commons/time" (dict "date" . "format" ":date_long") }}</p>
    {{- end -}}

    {{ partial "commons/cta" .cta }}
  </div>
  {{ with $context.Params.image }}
    <div class="media">
      {{- $desktop := site.Params.events.thumbnail.desktop | default false -}}
      {{- $mobile := site.Params.events.thumbnail.mobile | default false -}}
      {{ partial "commons/image.html" (dict
        "src" .src
        "alt" .alt
        "credit" .credit
        "desktop" $desktop
        "mobile" $mobile
        "lazy" false
      ) }}
    </div>
  {{ end }}
</div>
{{- end -}}
